<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Referrer:</strong>
  <% if @user.referrer.present? %>
    <%= @user.referrer.name %>
  <% end %>
</p>

<p>
  <strong>Referrals:</strong>
  <% @user.referrals.each do |referral| %>
    <ul>
      <li> <%= referral.name %></li>
    </ul>
  <% end %>
</p>

<% if current_user and @user != current_user %>
  <% if @user.referrer.present? or current_user.referred? @user %>
    <strong>This user already has been referred!</strong>
  <% else %>
    <%= form_for(@relationship) do |f| %>
      <%= f.hidden_field :referral_id, :value => @user.id %>
      <%= f.hidden_field :referrer_id, :value => current_user.id %>
      <%= submit_tag "Refer" %>
    <% end %>
  <% end %>
<% end %>

<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
