<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Referrer:</strong>
  <%= @user.referrer %>
</p>

<p>
  <strong>Referrals:</strong>
  <%= @user.referrals %>
</p>

<% if current_user and @user != current_user %>
    <% if current_user.referred? @user %>
        <%= submit_tag "Referred" %>
    <% else %>
        <%= form_for @relationship do %>
            <%=  @user.id %>
            <%= submit_tag "Refer" %>
        <% end %>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
