<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<% if current_user and @user == current_user %>
  <p>
    <strong>Amount in Wallet:</strong>
      <%= print_price(@user.wallets.sum(:load_amount)) %>
  </p>

  <p>
    <strong>Transactions:</strong>
    <% @user.wallets.each do |wallet| %>
      <ul>
        <li><%= print_price(wallet.load_amount) %> | <%= time_ago_in_words(wallet.created_at) %> ago</li>
      </ul>
    <% end %>
  </p>
<% end %>

<p>
  <strong>Referrer:</strong>
  <% if @user.referrer.present? %>
    <%= @user.referrer.name %>
  <% end %>
</p>

<p>
  <strong>Referrals:</strong>
  <% @user.referrals.each do |referral| %>
    <ul>
      <li> <%= referral.name %></li>
    </ul>
  <% end %>
</p>

<% if current_user and @user != current_user %>
  <% if @user.referrer.present? or current_user.referred? @user %>
    <strong>This user already has been referred!</strong>
  <% else %>
    <%= form_for(@relationship) do |f| %>
      <%= f.hidden_field :referral_id, :value => @user.id %>
      <%= f.hidden_field :referrer_id, :value => current_user.id %>
      <%= submit_tag "Refer" %>
    <% end %>
  <% end %>
<% end %>

<br>

<% if current_user and @user == current_user %>
  <%= link_to 'Load Wallet', new_wallet_path %> |
<% end %>
<%= link_to 'Back', users_path %>
