<%= form_for(@commission) do |f| %>
  <% if @commission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commission.errors.count, "error") %> prohibited this commission from being saved:</h2>

      <ul>
      <% @commission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :commission_rate %><br>
    <%= f.text_field :commission_rate %>
  </div>
  <div class="field">
    <%= f.label :load_amount %><br>
    <%= f.number_field :load_amount %>
  </div>
  <div class="field">
    <%= f.label :commission_amount %><br>
    <%= f.number_field :commission_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
